---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import FaceSwapSpotlight from '../components/spotlights/FaceSwapSpotlight.astro';
import Spotlight from '../components/Spotlight.astro';
import Stars from '../components/Stars.astro';
import WireGrid from '../components/WireGrid.astro';
import downloadOnTheMacAppStoreIcon from '../components/icons/Download_on_the_Mac_App_Store_Badge_US-UK_RGB_blk_092917.svg';
import facadeIcon from '../components/icons/FacadeIcon.svg';
import googleMeet from '../components/icons/GoogleMeet.svg';
import teamflow from '../components/icons/Teamflow.svg';
import zoom from '../components/icons/Zoom.svg';
---

<Layout title="Facade • Pushing Video Beyond Reality">
	<Stars />
	<WireGrid />
	<header>
		<div class="shrink">
			<img src={`${facadeIcon}`} />
			Facade
			<div class="spacer"></div>
			<a class="collapsible">Download</a>
			<a>Resources</a>
		</div>
	</header>
	<main>
		<h1>Pushing Video Beyond Reality</h1>
		<h3 class="subtitle">
			Facade transforms your camera so that you can become anyone.
			<br />
			Redefine how you interact with others online.
		</h3>
		<a
			class="download"
		   	href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
			target="_blank"
		>
			<img src={`${downloadOnTheMacAppStoreIcon}`} />
		</a>
		<p class="caption" style="color: #aaa">Coming to other platforms</p>
		<div class="hero-spacer"></div>
		<!-- <section style="align-items: center; display: flex; flex-direction: column; gap: .75em;">
			<div class="meeting-tools" style="display: flex; gap: 1.25em;">
				<img src={`${googleMeet}`} />
				<img src={`${zoom}`} />
				<img src={`${teamflow}`} />
			</div>
			<p style="padding: 0; margin: 0">Works with all your meeting tools</p>
		</section> -->
		<FaceSwapSpotlight />
		<Spotlight
			title="Focus on yourself"
			description="Blur out the noise behind you and keep everyone focused on your face"
			ltr={false}
		>
			<img class="ip" src="/images/Anna_Tolipova.png" />
		</Spotlight>
		<Spotlight
			title="Unparalleled customization"
			description="The Facade SDK lets developers create custom-tailored video effects"
		>
			<img class="ip" src="/images/Anna_Tolipova.png" />
		</Spotlight>
	</main>
</Layout>

<style>
	header {
		padding: 1.375em;
		position: fixed;
		top: 0;
		width: calc(100% - 2.75em);
		z-index: 1;
	}
	header > .shrink {
		display: flex;
		flex-direction: row;
		font-size: 1em;
		gap: .875rem;
		margin: 0 auto 0 auto;
		max-width: 80em;
		width: 100%;
	}
	header > .shrink > .spacer {
		flex-basis: 0;
		flex-grow: 1;
	}
	header > .shrink > .collapsible {
		display: none;
	}
	header > .shrink > a {
		display: block;
	}
	.header-collapsed {
		backdrop-filter: blur(80px);
		padding-top: 1em;
		padding-bottom: 1em;
		-webkit-backdrop-filter: blur(80px);
	}
	@media (min-width: 768px) {
		header {
			padding: 2em 2em;
			width: calc(100% - 4em);
		}

		header > .shrink {
			gap: 2rem;
		}

		header > .shrink > a {
			display: block;
		}

		header > .shrink > .collapsible {
			display: block;
		}
	}

	main {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 7em;
		text-align: center;
		width: 100%;
	}
	.hero-spacer {
		min-height: 7em;
		min-width: 100%;
	}
	h1 {
		margin-top: 0;
		max-width: 20rem;
	}
	h3.subtitle {
		color: #bbb;
		max-width: 22rem;
		margin-top: 2em;
		margin-bottom: 0;
		padding: 0;
	}
	.subtitle > br {
		display: none;;
	}
	.download {
		background: none;
		border: none;
		display: block;
		margin-top: 3em;
		padding: 0;
	}
	.caption {
		font-size: 1rem;
		margin-top: .5rem;
		margin-bottom: 0;
	}
	.meeting-tools {
		margin-top: 4rem;
	}
	.meeting-tools > img {
		height: 2em;
		text-align: center;
	}
	@media (min-width: 768px) {
		main {
			margin-top: 10em;
		}
		.hero-spacer {
			min-height: 10em;
		}
		h1 {
			max-width: 100%;
		}
		h3.subtitle {
			line-height: 1.4em;
			max-width: 100%;
		}
		.subtitle > br {
			display: inline;
		}
		.subtitle:first-of-type {
			margin-top: calc(3rem - .75rem);
		}
		.download {
			margin-top: 3rem;
		}

		.download > img {
			height: 3.125rem;
		}
	}

	img.ip {
		display: block;
		width: calc(90vw - 2rem);
	}
	@media (min-width: 768px) {
		img.ip {
			display: block;
			max-width: 100%;
			width: 100%;
		}
	}

	video {
		border-radius: 12px;
		overflow: hidden;
	}

	@keyframes stars {
		from {
			transform: translate(0px, 0px);
		}

		34% {
			transform: translate(-40px, 100px);
		}

		67% {
			transform: translate(80px, -20px);
		}

		to {
			transform: translate(0px, 0px);
		}
	}

	@keyframes sparkle {
		from {
			opacity: 87%;
		}

		50% {
			opacity: 34%;
		}

		to {
			opacity: 87%;
		}
	}
</style>
<script>
	document.addEventListener('scroll', function () {
		const header = document.querySelector('header')
		const scroll = document.documentElement.scrollTop
		const desktop = window.innerWidth > 768
		const basePadding = desktop ? 32 : 22
		const baseAlpha = .67

		if (scroll < basePadding / 2) {
			header.classList.remove('header-collapsed')
			Object.assign(header.style, {
				background: `rgba(0, 0, 0, ${baseAlpha * scroll * 0.5 / basePadding})`,
				paddingBottom: `${basePadding - scroll}px`,
				paddingTop: `${basePadding - scroll}px`
			})
		} else {
			header.classList.add('header-collapsed')
			Object.assign(header.style, {
				background: `rgba(0, 0, 0, ${baseAlpha})`,
				paddingBottom: undefined,
				paddingTop: undefined,
			})
		}
	})
</script>
