---
import {JSX} from "astro/jsx-runtime";
export interface Props {
  title: string;
  body: string | string[];
  icon?: string;
  size?: "large" | "small" | "tall";
}

const { href, title, body, icon, size = "large" } = Astro.props;
---

<div class={"card" + (size === 'tall' ? ' sideways' : '')} style={size === "large" ? `\
height: 17rem;
padding: 2em;
width: 17rem;` : size === "tall" ? '' :  `\
align-items: center;
height: 8rem;
justify-content: center;
padding: 1rem 0 0 0;
width: 8rem;
text-align: center;
`}>
  <section class="card-icon">
    {icon ? <img src={icon} alt={title} style={size === "large" ? `\
height: 1.5rem;
width: 1.5rem;
` : `\
height: 3.5rem;
width: 3.5rem;
`
} /> : null}
  </section>
  <section class="card-content">
    <section class="card-header">
      <h3>{title}</h3>
    </section>
    <section class="card-body">
      {(typeof body === 'string' ? [body] : body).map((text) => (<span>{text}</span>))}
    </section>
  </section>
</div>

<style>
  .card {
    background: rgba(227, 227, 227, 0.16);
    backdrop-filter: blur(80px);
    border-radius: 1rem;
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(80px);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .card-header {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }

  .card-header > h3 {
    padding: 0;
    margin: 0;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    gap: 1rem;
    line-height: 1.4em;
  }

  .sideways {
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 17rem;
  }

  @media (min-width: 992px) {
    .sideways {
      writing-mode: vertical-lr;
      text-orientation: sideways;
      height: 17rem;
      width: 8rem;
    }
  }
</style>
